
@import "vendor/_slick";

@import "commons/_mixins";
@import "commons/_config";
@import "commons/_fonts";
@import "commons/_basic";
@import "commons/_elements";
@import "commons/_layout";

@import "pages/_home";
@import "pages/_marketplace";
@import "pages/_marketplace-inner";
@import "pages/_episodes";
@import "pages/_chapters";
@import "pages/_activities";
@import "pages/_activities_checkpoint_1";
@import "pages/_activities_final_1";
@import "pages/_activities_content_zone";
@import "pages/_activities_final_2_test";
@import "pages/_activities_challenge";

/*Modo revisión*/
.modo_revision {
    display: none;
}

/*Título slide*/

#actividad .content .header .title h3 {
    font-family: "Myfrida", sans-serif;
    font-weight: bold;
    font-size: 2.9rem;
    color: #F7AF49;
    margin-top: 30px;
}


/*Botón corregir*/

.btn-danger, .btn-danger[disabled] {
    color: #fff;
    background-color: #29AAE3;
    border-color: transparent;
    font-family: "Myfrida", sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding: 9px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
    box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #1688b8;
    border-color: transparent;
    font-family: "Myfrida", sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding: 9px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
    box-shadow: 0px 4px 0px 0px rgba(47,129,167,1);
}

/*Intentos*/

#actividad .content .review .attemps {
    display: none;
}

/*Portada*/

.oxfl-title1 {
    font-size: 65px;
    line-height: 59px;
}

.oxfl-title5 {
    font-size: 20px;
}

#oxfl-home-menu-inner .oxfl-monster span {
	font-size: 20px;
}

#oxfl-home-menu-inner .oxfl-monster.oxfl-monster-2 span {
	font-size: 22px;
}

.oxfl-bubble-hello {
    font-size: 29px;
    line-height: 23px;
}

#oxfl-coins-total {
    font-size: 14px;
}

/*Episodes*/

#oxfl-episodes-monster span {
    font-size: 56px;
    line-height: 50px;
}

.oxfl-title4 {
    font-size: 14px;
}


.oxfl-title2 {
    font-size: 29px;
}

/*Chapters*/

.oxfl-title3 {
    font-size: 22px;
}

.oxfl-label {
    font-size: 11px;
}

/*Slides*/

body.body_clase.view-mode #actividad .oxfl-checkpoint-1-cover-wrapper .header .title h3 {
    font-size: 70px;
}

body.body_clase.view-mode #actividad .oxfl-content-zone-wrapper .header .title h3 {
    font-size: 50px;
}

body.body_clase.view-mode #actividad .oxfl-content-zone-wrapper .oxfl-cz .bck-title p {
    font-size: 16px;
}

body.body_clase.view-mode #actividad .oxfl-content-zone-wrapper .oxfl-cz-button-next span {
    font-size: 44px;
}

body.body_clase.view-mode #actividad .oxfl-content-zone-wrapper .oxfl-cz .oxfl-cz-header-button {
    font-size: 12px;
}

.oxfl-button-bubble {
    font-size: 24px;
}

.oxfl-final-screen-one-inner .oxfl-coins-bubble-1-coins {
    font-size: 59px;
}

body.body_clase.view-mode .oxfl-challenge-cover .bck-title {
    font-size: 30px;
}

.oxfl-coins-bubble-2-coins {
    font-size: 30px;
}

/*Pop ups*/

.oxfl-modal .modal-body {
    font-size: 19px;
}

.oxfl-modal .modal-footer .btn {
	font-size: 25px;
}


/*Market place*/

#oxfl-marketplace-menu .oxfl-marketplace-menu-button-1 .oxfl-marketplace-menu-button-bubble {
    font-size: 53px;
}

#oxfl-marketplace-menu .oxfl-marketplace-menu-button-2 .oxfl-marketplace-menu-button-bubble {
    font-size: 48px;
}

.oxfl-resources-game-monster-bubble, .oxfl-resources-summary-monster-bubble {
    font-size: 40px;
}

.oxfl-resource-coins {
    font-size: 15px;
}

.oxfl-resources-game-monster-bubble, .oxfl-resources-summary-monster-bubble {
    font-size: 40px;
}
