@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@font-face {
  font-family: 'Myfrida';
  src: url("fonts/myfrida_bold-italic-webfont.eot");
  src: url("fonts/myfrida_bold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/myfrida_bold-italic-webfont.woff2") format("woff2"), url("fonts/myfrida_bold-italic-webfont.woff") format("woff"), url("fonts/myfrida_bold-italic-webfont.ttf") format("truetype"), url("fonts/myfrida_bold-italic-webfont.svg#myfridabold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }
html {
  position: relative;
  font-size: 62.5%; }

body.view-mode {
  position: relative;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-size: 2.8rem;
  background: #ffffff;
  color: #000000; }
  body.view-mode .footer {
    display: none; }

.oxfl-title1 {
  font-family: "Myfrida", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 65px;
  font-size: 6.5rem;
  color: #8BE23F; }

.oxfl-title2 {
  font-family: "Myfrida", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 29px;
  font-size: 2.9rem;
  color: #8BE23F; }

.oxfl-title3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000; }

#oxfl-coins {
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 900; }

#oxfl-coins-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url(img/sprite.png) 0 0 no-repeat;
  background-size: 60px 60px;
  position: absolute;
  top: -5px;
  left: -15px; }

#oxfl-coins-total {
  background: rgba(77, 77, 77, 0.8);
  border-radius: 0 40px 40px 0;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  text-align: right;
  width: 95px;
  height: 20px;
  padding: 0 10px; }

#oxfl-general {
  width: 100vw;
  height: 100vh;
  background: url(img/background_home.jpg) center center no-repeat #ffffff;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  position: relative;
  min-height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

#oxfl-home-title {
  background: url(img/bubble-1.svg) 0 0 no-repeat;
  width: 350px;
  height: 200px;
  background-size: contain;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  position: absolute;
  top: 90px;
  left: 25px;
  transition-property: opacity, transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translate(-100%, -100%); }

#oxfl-home-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px;
  transition-property: opacity, transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translate(0, 100%); }
  #oxfl-home-menu:before {
    content: '';
    width: 100%;
    height: 140px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  #oxfl-home-menu .oxfl-home-menu-item {
    position: relative;
    z-index: 10; }
  #oxfl-home-menu .oxfl-monster {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-indent: 100%;
    white-space: nowrap; }
    #oxfl-home-menu .oxfl-monster.oxfl-monster-1 {
      width: 183px;
      height: 250px;
      background-image: url(img/monster-1.svg); }
    #oxfl-home-menu .oxfl-monster.oxfl-monster-2 {
      width: 346px;
      height: 490px;
      background-image: url(img/monster-2.svg); }
    #oxfl-home-menu .oxfl-monster.oxfl-monster-3 {
      width: 299px;
      height: 318px;
      background-image: url(img/monster-3.svg); }

.oxfl-bubble-hello {
  background: url(img/bubble-2.png) 0 0 no-repeat;
  background-size: contain;
  width: 120px;
  height: 100px;
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 1.25em;
  font-family: "Myfrida", sans-serif;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  color: #ED1E79;
  text-align: center; }
  .oxfl-bubble-hello .oxfl-bubble-hello-text {
    display: block;
    margin-top: 2px; }
  .oxfl-bubble-hello .oxfl-bubble-hello-name {
    display: block;
    width: 80px;
    margin: 0 auto;
    white-space: nowrap; }

#oxfl-notifications {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  border: 0;
  outline: 0;
  position: absolute;
  right: 0;
  top: 120px;
  width: 275px;
  height: 188px;
  background: url(img/monster-4.svg) right center no-repeat;
  background-size: contain;
  transition: transform .3s ease-out;
  transform: translate(100%, 0); }
  #oxfl-notifications .oxfl-notifications-badge {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 30px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #F15A24;
    border: 5px solid #C1272D;
    color: #ffffff;
    text-align: center;
    position: absolute;
    right: 195px;
    bottom: 60px; }

body.oxfl-body-home #oxfl-home-title {
  opacity: 1;
  transform: translate(0, 0); }
body.oxfl-body-home #oxfl-notifications {
  transform: translate(0, 0); }
body.oxfl-body-home #oxfl-home-menu {
  opacity: 1;
  transform: translate(0, 0); }

/*body.oxfl-body-episodes {
  #oxfl-home-title {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  #oxfl-notifications {
    transform: translate(100%, 0);
  }
  #oxfl-home-menu {
    opacity: 0;
    transform: translate(0,100%);
  }
}*/
#oxfl-episodes {
  background: rgba(242, 242, 242, 0.8);
  border: 2px solid #ffffff;
  padding: 30px;
  width: 540px; }

.oxfl-episode {
  text-align: center;
  padding: 10px 20px;
  background: #ffffff;
  border: 2px dashed #FBB03B; }
  .oxfl-episode > a {
    display: block; }
  .oxfl-episode .oxfl-episode-image-wrapper {
    width: 100%;
    height: 180px; }
    .oxfl-episode .oxfl-episode-image-wrapper img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.oxfl-episodes-page {
  margin-left: -5px;
  margin-right: -5px; }
  .oxfl-episodes-page:after {
    content: "";
    display: table;
    clear: both; }
  .oxfl-episodes-page .oxfl-episodes-item {
    float: left;
    padding: 5px; }

/*# sourceMappingURL=style.css.map */
