
$cz_button_height: 270px;
$cz_button_top: 50px;
$cz_header_height: 125px;

body.body_clase.view-mode {

  #actividad {
    .oxfl-content-zone-wrapper {
      //overflow: hidden;
      overflow: auto;
      //.item-container {
      //  padding: 0;
      //  max-width: 100%;
      //  margin: 0;
      //}
      .oxfl-content-zone-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 460px;
        height: calc(100% - 160px);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .header {
        padding-top: 40px;
        .title {
          width: 430px;
          height: 125px;
          background: url(img/content-zone-bubble-1.png) 0 0 no-repeat;
          background-size: cover;
          display: flex;
          align-items: center;
          justify-content: center;
          h3 {
            font-family: $font_family_2;
            font-weight: bold;
            font-style: italic;
            //@include font-size(5.0);
            font-size: 50px;
            line-height: 0.8em;
            color: $color_1;
            margin: 0;
            text-align: center;
          }
        }
      }
      .slide_img {
        display: none;
      }
      .layout-panel {
        width: 100%!important;
      }
      .oxfl-cz-button-next {
        border: 0;
        overflow: visible;
        background: url(img/monster-contentzone.svg) center bottom no-repeat;
        background-size: contain;
        width: 296px;
        height: 315px;
        padding: 30px 6px 6px;
        position: fixed;
        right: 0;
        bottom: 0;
        outline: none;
        text-align: center;
        transition: bottom .3s linear;
        &.oxfl-disabled {
          filter: grayscale(1);
          cursor: default;
        }
        span {
          display: block;
          width: 180px;
          font-family: $font_family_2;
          //@include font-size(4.4);
          font-size: 44px;
          line-height: 1em;
          color: $color_6;
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translate(-50%,0);
        }
      }
      .oxfl-cz {
        .bck-content {
          position: fixed;
          top: 200%;
          left: 0;
          z-index: 500;
          height: calc(100vh - #{$header_height});
          //margin: $cz_button_height+$cz_button_top 0 0 0;
          width: 100%;
          transition: top .3s ease-out;
          background: $background_color;
          .oxfl-cz-content {
            height: calc(100% - #{$cz_header_height});
            max-height: calc(100% - #{$cz_header_height});
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding-bottom: 100px;
            .bck-video-container2 {
              height: 100%;
              position: relative;
              .bck-video-player {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .video-js .vjs-big-play-button {
                  border: 0;
                  background: url(img/player.png) 0 0 no-repeat;
                  width: 132px;
                  height: 128px;
                  background-size: contain;
                  &::before {
                    content: none;
                  }
                }
              }
            }
          }
          &.oxfl-visible {
            top: 0;
          }
        }
        .oxfl-cz-header {
          background: $background_color;
          height: $cz_header_height;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 0 80px;
          &-title {
            font-family: $font_family_2;
            font-weight: bold;
            font-style: italic;
            @include font-size(3.7);
            line-height: 0.8em;
            color: $color_1;
            margin: 0;
            text-align: center;
          }
          &-button {
            border: 0;
            overflow: visible;
            background: url(img/arrow-up.png) center top no-repeat;
            background-size: 30px 18px;
            font-family: $font_family_2;
            //@include font-size(1.2);
            font-size: 12px;
            color: $color_6;
            padding: 30px 6px 6px;
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translate(0,-50%);
            outline: none;
            width: 78px;
            text-align: center;
          }
        }

        .bck-title {
          position: absolute;
          top: $cz_button_top;
          height: $cz_button_height;
          left: 0;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: contain;
          cursor: pointer;
          p {
            position: absolute;
            bottom: 12px;
            left: 50%;
            margin-left: -5px;
            transform: translate(-50%,0);
            font-family: $font_family_1;
            font-weight: bold;
            //@include font-size(1.6);
            font-size: 16px;
            color: $negative_color;
          }
        }
        &-video {
          .bck-title {
            background-image: url(img/monster-9.svg);
            left: 0;
            width: 210px;
          }
          .bck-content {
            .oxfl-cz-content {
              padding-bottom: 0;
              overflow: hidden;
            }
          }
        }
        &-infographic {
          .bck-title {
            width: 220px;
            background-image: url(img/monster-10.svg);
            left: 210px;
            p {
              bottom: 14px;
            }
          }
          .oxfl-cz-content {
            text-align: center;
          }
        }
        &-text {
          .bck-title {
            width: 160px;
            background-image: url(img/monster-11.svg);
            left: 220px + 210px;
            p {
              margin-left: 0;
            }
          }
          .oxfl-cz-content {
            padding: 0 100px;
          }
        }
      }
    }
  }
  &.oxfl-content-zone-on {
    .navbar-bottom {
      display: none;
    }
    .content-wrapper {
      padding-bottom: 0;
    }
  }
  &.oxfl-content-zone-card-on {
    .slider-control {
      display: none;
    }
    #actividad {
      .oxfl-content-zone-wrapper {
        overflow: hidden;
      }
    }
  }
}
