
body.body_clase.view-mode {

  #actividad {
    .oxfl-final-screen-one-wrapper {
      .oxfl-final-screen-one {
        display: none;
        background: $background_color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        padding: 20px;
        &-inner {
          background: url(img/final-1.png) center center no-repeat $background_color;
          background-size: contain;
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 0;
          z-index: 100;
          .oxfl-coins-bubble-1 {
            background: url(img/final-1-coins.png) 0 0 no-repeat transparent;
            width: 353px;
            height: 180px;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,0);
            margin-left: -250px;
            &-coins {
              position: absolute;
              top: 25px;
              right: 110px;
              text-align: right;
              //@include font-size(5.9);
              font-size: 59px;
              line-height: 1em;
              color: $negative_color;
              font-family: $font_family_1;
              font-weight: 500;
            }
          }
        }
      }
      &-active {
        overflow: hidden;
        .oxfl-final-screen-one {
          display: block;
        }
      }
    }
  }
}
