
body.body_clase.view-mode {

  #actividad {
    .oxfl-final-slide {
      background-position: center center;
      background-image: url(img/endscreen-ok-regular.svg), url(img/endscreen-ok-regular-bg.png);
      background-repeat: no-repeat, repeat-x;
      background-size: contain;
      &-fail {
        background-position: center top;
        background-image: url(img/endscreen-wrong-regular.png), url(img/endscreen-wrong-regular-bg.png);
      }
      &-challenge {
        background-position: center bottom;
        background-image: url(img/endscreen-challenge-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .item-container {
          background-position: center bottom;
          background-image: url(img/endscreen-ok-challenge.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.oxfl-final-slide-fail {
          background-image: url(img/endscreen-challenge-bg.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          .item-container {
            background-image: url(img/endscreen-wrong-challenge.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .item-container  {
        max-width: 100%;
        min-height: 100%!important;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .header {
          display: none;
        }
        .oxfl-button-large-next {
          position: fixed;
          right: 40px;
          bottom: 40px;
          z-index: 100;
        }
      }
    }
    .oxfl-end-screen-tip {
      display: none;
      width: 369px!important;
      height: 254px;
      background: url(img/bubble-5.png) 0 0 no-repeat;
      background-size: contain;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .bck-title,
      h2,
      h3 {
        color: $negative_color;
        font-family: $font_family_2;
        font-weight: bold;
        @include font-size(4.8);
        line-height: 1em;
        max-width: 320px;
        margin: 0 auto 0;
        text-align: center;
      }
      .bck-content {
        font-family: $font_family_1;
        font-weight: 500;
        color: $negative_color;
        @include font-size(1.8);
        max-width: 320px;
        margin-bottom: 10px;
      }
    }
  }

  &.oxfl-final-slide-on {
    .content-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
    .navbar.libro,
    .navbar-bottom {
      display: none;
    }
  }
  &.oxfl-end-screen-tip-on {
    .slider-control:not(.oxfl-slider-control ) {
      display: none;
    }
  }
}

#oxfl-final-slide-tip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  z-index: -1;
  background: url(img/endscreen-ok-regular-bg.png) 0 0 repeat-x;
  background-size: contain;
  .oxfl-button-bubble-1 {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
  .oxfl-end-screen-tip {
    display: flex!important;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translante(-50%,0);
    margin-left: -430px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -9px; // TODO CAMBIAR CUANDO SE ACTUALICE EL MONSTRUo
    right: 0;
    background: url(img/monster-tip.svg) right bottom no-repeat;
    background-size: contain;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transform: translate(100%,100%);
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }
  .oxfl-end-screen-tip-on & {
    visibility:visible;
    opacity: 1;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition-delay: 0s;
    z-index: 100;
    &::after {
      opacity: 1;
      transform: translate(0,0);
    }
  }
}

.oxfl-coins-bubble-2 {
  background: url(img/final-2-coins.png) 0 0 no-repeat transparent;
  width: 240px;
  height: 98px;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%,0);
  margin-left: 10px;
  z-index: 100;
  &-coins {
    position: absolute;
    top: 18px;
    right: 65px;
    text-align: right;
    @include font-size(3.0);
    line-height: 1em;
    color: $negative_color;
    font-family: $font_family_1;
    font-weight: 500;
  }
  .oxfl-final-slide-challenge & {
    top: 50%;
    margin-top: -40px;
    background-image: url(img/final-2-coins-b.png);
    width: 215px;
    height: 70px;
    margin-left: 41vh;
    .oxfl-coins-bubble-2-coins {
      top: 20px;
    }
  }
}

.oxfl-final-slide-stars {
  position: absolute;
  top: 0;
  //left: 50%;
  //transform: translate(-50%,0);
  //margin-left: 340px;
  //margin-left: 10vw;
  right: 60px;
  background: url(img/endscreen-stars-regular-0.png) 0 0 no-repeat transparent;
  width: 210px;
  height: 225px;
  background-size: contain;
  &-1 {
    background-image: url(img/endscreen-stars-regular-1.png);
  }
  &-2 {
    background-image: url(img/endscreen-stars-regular-2.png);
  }
  &-3 {
    background-image: url(img/endscreen-stars-regular-3.png);
  }
}

.oxfl-bubble-leave {
  display: block;
  width: 264px;
  height: 100px;
  padding: 34px 10px 10px;
  background: url(img/bubble-4.png) 0 0 no-repeat transparent;
  background-size: contain;
  @include font-size(1.8);
  line-height: 1em;
  color: $negative_color;
  font-family: $font_family_1;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  &-inner {
    width: 100%;
    text-align: center;
  }
  .oxfl-final-slide & {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,0);
    margin-left: 250px;
  }
}

.oxfl-final-slide-fail-buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
}

.oxfl-final-slide-challenge:not(.oxfl-final-slide-fail) {
  .oxfl-button-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: auto;
    top: auto;
  }
}
