
body.body_clase.view-mode {

  #actividad {
    .oxfl-challenge-cover-wrapper {
      background-position: center center;
      background-image: url(img/endscreen-challenge-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      .oxfl-button-bubble {
        position: fixed;
        right: 40px;
        bottom: 40px;
        &-2 {
          background: $color_13;
        }
      }
      .item-container  {
        max-width: 100%;
        min-height: 100%!important;
        background-position: center center;
        background-image: url(img/endscreen-challenge-cover-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .header {
          display: none;
        }
      }
    }
  }

  .oxfl-challenge-cover {
    background: $color_4;
    background-size: auto;
    width: 290px !important;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    margin-left: 320px;
    padding: 20px;
    border-radius: 40px;
    .bck-title {
      color: $negative_color;
      font-family:$font_family_2;
      font-weight: bold;
      font-style: italic;
      font-size: 30px;
      max-width: 100%;
      margin: 0;
      padding-left: 0;
    }
    .bck-content {
      display: none;
    }
  }
  &.oxfl-challenge-cover-wrapper-on {
    .content-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
    .slider-control {
      display: none!important;
    }
    .navbar-bottom {
      display: none!important;
    }
  }
}
