
#iframe_div {
  outline: 2px solid $color_9;
}

body.body_clase.view-mode {
  .side-panel,
  #help-panel {
    box-shadow: none!important;
  }

  #swipeview-slider>div {
    background-color: $background_color;
  }

  .slider-control,
  .slider-control:focus {
    background: transparent;
    width: 70px;
    height: 150px;
    border-radius: 0;
    opacity: 1;
    cursor: pointer;
    .fa {
      background: url(img/arrows-slide.png) 0 0 no-repeat transparent;
      background-size: 16px 60px;
      width: 16px;
      height: 32px;
      &::before {
        content: none;
      }
    }
    &.right {
      border-radius: 0;
    }
    &.left {
      border-radius: 0;
      .fa {
        background-position: 0 -30px;
      }
    }
    &.disabled {
      display: none!important;
      opacity: 0;
    }
  }

  #actividad {
    .carousel-inner {
      .item-container {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .content {
      .header {
        border: 0;
        .chapter {
          display: none;
        }
        .title {
          margin: 0;
          border: 0;
          .title-logo {
            display: none
          }
        }
      }
    }
  }
  .navbar-bottom {
    background-color: $background_color;
    .slider-indicators {
      li {
        background-color: $color_1;
        &.active {
          background-color: $color_4;
        }
      }
    }
  }
}
