
#iframe_div {
  outline: 2px solid $color_9;
  &.audio {
    outline: none;
  }
}

body.body_clase.view-mode {

  .revision-budget {
    display: none!important;
  }

  .side-panel,
  #help-panel {
    box-shadow: none!important;
  }

  #swipeview-slider>div {
    background-color: $background_color;
  }
  .oxfl-slider-control,
  .slider-control,
  .slider-control:focus {
    position: fixed;
    top: 50%;
    margin-top: -55px;
    color: #FFF;
    font-size: 20px;
    background: transparent;
    width: 70px;
    height: 150px;
    border-radius: 0;
    opacity: 1;
    outline: none;
    border: 0;
    cursor: pointer;
    .fa {
      background: url(img/arrows-slide.png) 0 0 no-repeat transparent;
      background-size: 16px 60px;
      width: 16px;
      height: 32px;
      top: 50%;
      position: absolute;
      margin-top: -20px;
      font-size: 2em;
      &::before {
        content: none;
      }
    }
    &.right {
      border-radius: 0;
      right: 0;
      .fa {
        left: 30px;
      }
    }
    &.left {
      border-radius: 0;
      left: 0;
      .fa {
        right: 30px;
        background-position: 0 -30px;
      }
    }
    &.disabled {
      display: none!important;
      opacity: 0;
    }
    &.not-allowed,
    &.not-allowed:hover {
      opacity: .3;
    }
  }

  #actividad {
    .oxfl-button-round-circled {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .carousel-inner {
      .item-container {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 20px;
      }
    }
    .content {
      .header {
        border: 0;
        .chapter {
          display: none;
        }
        .title {
          margin: 0;
          border: 0;
          .title-logo {
            display: none
          }
        }
      }
    }
  }
  .navbar-bottom {
    background-color: $background_color;
    .slider-indicators {
      li {
        background-color: $color_1;
        cursor: default;
        &.active {
          background-color: $color_4;
        }
      }
    }
  }
}


// Custom Blink

#actividad {
  .content {
    .header .title h3 {
      font-family: $font_family_2;
      font-weight: bold;
      @include font-size(2.9);
      color: $color_6;
      margin-top: 30px;
    }
    .review .attemps {
      display: none;
    }
  }
}
