
$episodes_title_height : 30px;
$episodes_description_height : 30px;
$episodes_top :  90px;
$episodes_padding :  $padding_1;
$episodes_item_spaces: 30px;
$episodes_safe_space : 0;

$episodes_image_height : ($episodes_title_height + $episodes_description_height + $episodes_item_spaces + $episodes_top)*2;
$episodes_monster_height: $episodes_image_height/2;

#oxfl-episodes-wrapper {
  width: $layout_max;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: $episodes_top;
  transform: translate(-50%,0);
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  pointer-events: none;
}

#oxfl-episodes-monster {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translate(-120%, 0);
  transition-property: opacity, transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  will-change: transform;
  width: 300px;
  height: calc(100vh - #{$episodes_monster_height});
  min-height: 440px;
  max-height: 600px;
  //min-height: $episodes_image_height;
  background: url(img/monster-5.svg) right center no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: $space_1/2;
  span {
    //@include font-size(5.6);
    //line-height: .9em;
    font-size: 56px;
    line-height: 50px;
    font-family: $font_family_2;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: $negative_color;
    background: url(img/monster-5-bubble.png) 0 0 no-repeat;
    background-size: contain;
    width: 279px;
    height: 200px;
    padding-top: 20px;
    padding-right: 20px;
    display: block;
  }
}


#oxfl-episodes {
  background: fade-out($color_5, .2);
  border: 2px solid $color_5_lighter;
  width: 550px;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  float: right;
  margin: 0 $space_1/2 $space_2 $space_1;
  padding: 0;
  .oxfl-episodes-page {
    padding: $episodes_padding;
  }
}

.oxfl-episode {
  text-align: center;
  background: $episode_background_color;
  border: 2px dashed $episode_border_color;
  &>a {
    display: block;
    padding: 10px 20px;
  }
  .oxfl-episode-image-wrapper {
    width: 100%;
    min-height: 90px;
    height: calc((100vh - #{$episodes_image_height})/2);
    max-height: 200px;
    overflow: hidden;
    @include img-fit();
    img {
      transition: transform .3s;
      transform: scale(1);
    }
  }
  &:hover {
    .oxfl-episode-image-wrapper {
      img {
        transform: scale(1.1);
      }
    }
  }
}


.oxfl-episodes-page {
  @include clearfix();
  margin-left: -5px;
  margin-right: -5px;
  .oxfl-episodes-item {
    float: left;
    width: 50%;
    padding: 5px;
    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

body.oxfl-body-episodes {
  #oxfl-episodes-wrapper,
  #oxfl-episodes {
    visibility:visible;
    opacity: 1;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition-delay: 0s;
    pointer-events: auto;
  }
  #oxfl-episodes-monster {
    opacity: 1;
    transform: translate(0, 0);
  }
}
