
#oxfl-gradebook-wrapper {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  pointer-events: none;
  background: $background_color;
}

#oxfl-gradebook-inner {
  padding: 100px 0;
  max-width: 800px;
}

.oxfl-gradebook-header {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: url(img/gradebook-separator.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.oxfl-gradebook-intro {
  @include font-size(1.8);
  line-height: (21em/18);
  color: $primary_color;
  font-family: $font_family_1;
  p:last-child {
    margin-bottom: 0;
  }
}

.oxfl-gradebook-title-1 {
  @include font-size(6.2);
  line-height: 1.1em;
  color: $color_6;
  font-family: $font_family_2;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  padding: 52px 50px 20px;
  span {
    display: inline-block;
    font-family: $font_family_1;
    @include font-size(5.6);
    font-weight: 400;
    color: $color_1;
    transform: rotate(-190deg);
    text-transform: capitalize;
  }
  &::before {
    content: '';
    width: 313px;
    height: 68px;
    background: url(img/gradebook-monster.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.oxfl-gradebook-title-2 {
  @include font-size(4.0);
  line-height: 1.1em;
  color: $color_13;
  font-family: $font_family_2;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.oxfl-gradebook-title-3 {
  @include font-size(2.1);
  line-height: 1.1em;
  color: $color_10;
  font-family: $font_family_1;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 30px;
}

.oxfl-gradebook-title-4 {
  margin: 0;
  @include font-size(2.0);
  line-height: 1em;
  color: $color_15;
  font-weight: 500;
}

.oxfl-gradebook-section {
  padding-bottom: 50px;
}


.oxfl-gradebook-captions {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  .oxfl-gradebook-caption {
    @include font-size(1.8);
    line-height: 1em;
    color: $color_15;
    font-weight: 500;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .oxfl-gradebook-caption-badge,
    .oxfl-gradebook-caption-text {
      display: inline-block;
      vertical-align: middle;
      line-height: 28px;
    }

    .oxfl-gradebook-caption-badge {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      margin-right: 14px;
    }

    &-1 {
      .oxfl-gradebook-caption-badge {
        background-color: $color_4;
      }
    }
    &-2 {
      .oxfl-gradebook-caption-badge {
        background-color: $color_6_mod;
      }
    }
    &-3 {
      .oxfl-gradebook-caption-badge {
        background-color: $color_7;
      }
    }
  }
}

// Charts

#oxfl-gradebook-donutchart {
  margin: 0 auto;
  width: 228px;
  height: 228px;
  svg {
    path {
      stroke-width: 3px;
    }
  }
}
.oxfl-gradebook-donutchart-wrapper {
  position: relative;
}
.oxfl-gradebook-donutchart-legend {
  font-family: $font_family_1;
  font-weight: bold;
  @include font-size(4.8);
  line-height: 1em;
  color: $color_10;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

$barchart_size: 30px;
$barchart_height: 235px;

.oxfl-gradebook-barchart {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $barchart_height;
  &::before {
    content: '';
    bottom: $barchart_size;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color_10;
    position: absolute;
    display: block;
  }
  &-item {
    width: 33.3333%;
    padding: 0 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &:first-child {
      padding-left: 25px;
    }
    &:last-child {
      padding-right: 25px;
    }
    &-bar {
      width: $barchart_size;
      height: 0;
      margin: 0 auto;
      border-radius: 20px 20px 0 0;
      transition: height .5s ease-in 1s;
    }
    &-number {
      @include font-size(2.1);
      line-height: 1.1em;
      color: $color_10;
      font-family: $font_family_1;
      font-weight: bold;
      text-align: center;
      width: $barchart_size;
      height: $barchart_size;
      line-height: $barchart_size;
      padding-top: 5px;
    }
    &-1 {
      .oxfl-gradebook-barchart-item-bar {
        background-color: $color_4;
      }
    }
    &-2 {
      .oxfl-gradebook-barchart-item-bar {
        background-color: $color_6_mod;
      }
    }
    &-3 {
      .oxfl-gradebook-barchart-item-bar {
        background-color: $color_7;
      }
    }
  }
}

// Stars average

.oxfl-gradebook-average-stars {
  width: 100%;
  height: 82px;
  background: url(img/gradebook-average-stars.png) center 0 no-repeat;
  background-size: 166px 328px;
  margin: 0 auto;
  &-0 {
    background-position: center 0;
  }
  &-1 {
    background-position: center -82px;
  }
  &-2 {
    background-position: center -164px;
  }
  &-3 {
    background-position: center -246px;
  }
}

.oxfl-gradebook-average-grade-challenge {
  width: 100%;
  height: 153px;
  background: url(img/gradebook-average-grade-challenge.png) center 0 no-repeat;
  background-size: 180px 608px;
  margin: 0 auto;
  &-0 {
    background-position: center 0;
  }
  &-1 {
    background-position: center -153px;
  }
  &-2 {
    background-position: center -306px;
  }
  &-3 {
    background-position: center -459px;
  }
}

// Units
.oxfl-gradebook-section-2{
  border-radius: 30px;
  border-top: 50px solid $color_13;
  border-bottom: 50px solid $color_13;
  padding-bottom: 0;
  margin-bottom: 50px;
  background: $background_color;
  .oxfl-gradebook-units {
    margin-bottom: 0;
    position: relative;
    top: -48px;
    z-index: 10;
    margin-bottom: -48px;
  }
}
.oxfl-gradebook-unit {
  &-header {
    background: transparent;
    padding: 2px 20px;
    .oxfl-gradebook-title-2 {
      color: $background_color;
      margin-bottom: 0;
    }
  }
  &-content {
    background: $background_color;
  }
}
// Table

.oxfl-gradebook-unit-content-table {
  display: table;
  width: 100%;
  &-row {
    display: table-row;
    width: 100%;
  }
  &-header,
  &-cell {
    display: table-cell;
    padding: 7px 10px;
    font-weight: 500;
    vertical-align: middle;
    &-state {
      width: 100px;
      text-align: center;
    }
    &-stars {
      width: 160px;
      text-align: center;
      .oxfl-stars-filled-inactive {
        filter: grayscale(100%);
      }
      .oxfl-stars {
        display: inline-block;
        transform: scale(1.2);
      }
    }
  }
  &-header {
    color: $color_16;
    @include font-size(1.4);
    line-height: 1em;
    border-bottom: 1px solid $color_16;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &-cell {
    @include font-size(1.8);
    line-height: 1em;
    color: $color_15;
  }

  &-row {
    &:nth-child(2) {
      .oxfl-gradebook-unit-content-table-cell {
        padding-top: 25px;
      }
    }
    &:last-child {
      .oxfl-gradebook-unit-content-table-cell {
        padding-bottom: 25px;
      }
    }
  }
}

.oxfl-gradebook-unit-lesson-state {
  width: 28px;
  height: 28px;
  margin: 0 auto;
  &-0,
  &-1,
  &-2 {
    border-radius: 100%;
  }
  &-0 {//Started but not completed
    background-color: $color_6_mod;
  }
  &-1 {//Completed
    background-color: $color_7;
  }
  &-2 {//Available but not started, like New
    background-color: $color_4
  }
  &-3 {// Lock!
    border: 0;
    overflow: visible;
    outline: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
    background: url(img/lock.png) -20px 0 no-repeat;
    background-size: 40px 18px;
  }
}

.oxfl-gradebook-units {
  .slick-dots {display: none!important; opacity: 0;}
  .slick-arrow {
    top: 0;
    transform: none;
    background: none!important;
    width: 48px;
    height: 48px;
    position: absolute;
    &::before {
      content: '';
      display: inline-block;
      background: url(img/arrows-slide-2.png) 0 0 no-repeat transparent;
      background-size: 12px 44px;
      width: 12px;
      height: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 1;
    }
    &.slick-next, &.slick-next:hover, &.slick-next:focus {
      transform: none;
      right: 0;
      &::before {
        content: '';
        background-position: 0 0;
      }
    }
    &.slick-prev, &.slick-prev:hover, &.slick-prev:focus {
      transform: none;
      left: 0;
      &::before {
        content: '';
        background-position: 0 -22px
      }
    }
  }

}

// Awards

$award_width: 300px;
$award_height : 300px;

$total_rows_award : 3;
$total_cols_award : 3;
$total_awards : $total_rows_award*$total_cols_award;

.oxfl-gradebook-award {
  width: $award_width;
  height: $award_height;
  &-inner {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: $total_rows_award*$award_height $total_cols_award*$award_width;
    background-image: url(img/awards.png);
    width: $award_width;
    height: $award_height;
    position: relative;
    margin-left: -15px;
  }
  .oxfl-gradebook-award-label {
    font-family: $font_family_2;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: $negative_color;
    margin-left: -15px;
    left: 50%;
    transform: translate(-50%,0);
    //@include rotated-text(12);

  }
  &.inactive {
    filter: grayscale(100%);
  }

  &-1 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*0) (-$award_height*0);
    }
  }
  &-2 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*1) (-$award_height*0);
    }
  }
  &-3 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*2) (-$award_height*0);
    }
  }
  &-4 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*0) (-$award_height*1);
    }
  }
  &-5 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*1) (-$award_height*1);
    }
  }
  &-6 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*2) (-$award_height*1);
    }
  }
  &-7 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*0) (-$award_height*2);
    }
  }
  &-8 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*1) (-$award_height*2);
    }
  }
  &-9 {
    .oxfl-gradebook-award-inner {
      background-position: (-$award_width*2) (-$award_height*2);
    }
  }
}

.oxfl-gradebook-awards {
  .slick-arrow {
    transform: none;
    background: none!important;
    width: 48px;
    height: 48px;
    position: absolute;
    &::before {
      content: '';
      display: inline-block;
      background: url(img/arrows-slide-3.png) 0 0 no-repeat transparent;
      background-size: 25px 85px;
      width: 25px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 1;
    }
    &.slick-next, &.slick-next:hover, &.slick-next:focus {
      transform: none;
      right: -80px;
      &::before {
        content: '';
        background-position: 0 0;
      }
    }
    &.slick-prev, &.slick-prev:hover, &.slick-prev:focus {
      transform: none;
      left: -80px;
      &::before {
        content: '';
        background-position: 0 -46px
      }
    }
  }


}

body.oxfl-body-gradebook {
  #oxfl-gradebook-wrapper {
    visibility:visible;
    opacity: 1;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition-delay: 0s;
    pointer-events: auto;
  }
  #oxfl-general {
    background: $background_color;
  }
  #oxfl-custom-background-inner-1,
  #oxfl-custom-background-inner-2 {
    opacity: 0!important;
  }

  #oxfl-coins {
    opacity: 0;
  }
  #oxfl-general-buttons .oxfl-button-icon-info,
  #oxfl-general-buttons .oxfl-button-icon-marketplace {
    display: none;
  }
}
