
#oxfl-home-title {
  background: url(img/bubble-1.svg) 0 0 no-repeat;
  width: 404px;
  height: 277px;
  background-size: contain;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  position: absolute;
  top: 90px;
  left: 50px;
  transition-property: opacity, transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-100%, -100%);
  &>div {
    width: 300px;
    height: 160px;
    transform: rotate(-12deg);
    margin-right: 20px;
    margin-bottom: 10px;
  }
}


#oxfl-home-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px;
  transition-property: opacity, transform;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translate(0,100%);
  &::before {
    content: '';
    width: 100%;
    height: 140px;
    background: $home_menu_background_color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .oxfl-home-menu-item {
    position: relative;
    z-index: 10;
  }

  .oxfl-monster {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-indent: 100%;
    white-space: nowrap;
    &.oxfl-monster-1 {
      width: 183px;
      height: 250px;
      background-image: url(img/monster-1.svg);
    }
    &.oxfl-monster-2 {
      width: 346px;
      height: 490px;
      background-image: url(img/monster-2.svg);
    }
    &.oxfl-monster-3 {
      width: 299px;
      height: 318px;
      background-image: url(img/monster-3.svg);
    }
  }
}

.oxfl-bubble-hello {
  background: url(img/bubble-2.png) 0 0 no-repeat;
  background-size: contain;
  width: 120px;
  height: 100px;
  @include font-size(2.9);
  line-height: 1.25em;
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: -40px;
  right: -40px;
  color: $color_4;
  text-align: center;
  .oxfl-bubble-hello-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -14px;
  }
  .oxfl-bubble-hello-text {
    display: block;
    margin-top: 2px;
  }
  .oxfl-bubble-hello-name {
    display: block;
    width: 80px;
    margin: 0 auto;
    white-space: nowrap;
    line-height: 1.2em;
  }

}

#oxfl-notifications {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  border: 0;
  outline: 0;
  position: absolute;
  right: 0;
  top: 120px;
  width: 275px;
  height: 188px;
  background: url(img/monster-4.svg) right center no-repeat;
  background-size: contain;
  transition: transform .3s ease-out;
  transform: translate(100%, 0);
  .oxfl-notifications-badge {
    font-family: $font_family_1;
    @include font-size(1.8);
    font-weight: bold;
    line-height: 30px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: $color_2;
    border: 5px solid $color_2_darken;
    color: $negative_color;
    text-align: center;
    position: absolute;
    right: 195px;
    bottom: 60px;
  }
}

body.oxfl-body-home {
  #oxfl-home-title {
    opacity: 1;
    transform: translate(0, 0);
  }
  #oxfl-notifications {
    transform: translate(0, 0);
  }
  #oxfl-home-menu {
    opacity: 1;
    transform: translate(0,0);
  }
}
