#oxfl-resources-actividad-wrapper,
#oxfl-resources-libro-wrapper {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

.oxfl-resources-container {
  background: fade-out($color_5, .2);
  border: 2px solid $color_5_lighter;
  width: 770px;
  max-width: 100%;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  margin: 0 auto $space_2;
  padding: 0;
  .oxfl-resources-page {
    padding: $padding_1;
  }
}


.oxfl-resource {
  text-align: center;
  background: $episode_background_color;
  border: 2px dashed $episode_border_color;
  &>a {
    display: block;
    padding: 10px 20px;
  }
  .oxfl-resource-image-wrapper {
    width: 100%;
    height: 148px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s;
      transform: scale(1);
    }
  }
  &-header {
    display: flex;
  }

  &-coins {
    font-family: $font_family_1;
    @include font-size(1.5);
    font-weight: 500;
    text-align: right;
    color: $color_6;
  }

  &:hover {
    .oxfl-resource-image-wrapper {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.oxfl-resources-page {
  @include clearfix();
  margin-left: -5px;
  margin-right: -5px;
  .oxfl-resource-item {
    float: left;
    padding: 5px;
  }
  &.oxfl-resources-page-ipp-4 {
    .oxfl-resource-item {
      width: 50%;
      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
  &.oxfl-resources-page-ipp-6 {
    .oxfl-resource-item {
      width: 33.333%;
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

#oxfl-resources-actividad-monster,
#oxfl-resources-libro-monster {
  position: relative;
  left: -40px;
  margin: 90px auto -2px;
}

#oxfl-resources-actividad-monster {
  width: 290px;
  height: 214px;
  background: url(img/monster-14.svg) 0 0 no-repeat;
  background-size: contain;
}

#oxfl-resources-libro-monster {
  width: 282px;
  height: 190px;
  background: url(img/monster-15.svg) 0 0 no-repeat;
  background-size: contain;
  left: -100px;
}

.oxfl-resources-actividad-monster-bubble,
.oxfl-resources-libro-monster-bubble {
  font-family: $font_family_2;
  font-weight: 700;
  font-style: italic;
  @include font-size(4.0);
  line-height: 1em;
  color: $negative_color;
  background-image: url(img/monster-14-15-bubble.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  span {
    display: block;
    transform: rotate(10deg);
    margin: 16px;
  }
}

.oxfl-resources-actividad-monster-bubble {
  width: 196px;
  height: 112px;
  position: absolute;
  right: -160px;
  top: 25%;
}

.oxfl-resources-libro-monster-bubble {
  width: 208px;
  height: 119px;
  position: absolute;
  right: -140px;
  top: 2%;
}


body.oxfl-body-marketplace-actividad {

  #oxfl-resources-actividad-wrapper{
    visibility:visible;
    opacity: 1;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition-delay: 0s;
    .oxfl-resources-container {
      visibility:visible;
      opacity: 1;
      transition: visibility 0s linear 0.3s,opacity 0.3s linear;
      transition-delay: 0s;
    }
  }

}

body.oxfl-body-marketplace-libro {

  #oxfl-resources-libro-wrapper{
    visibility:visible;
    opacity: 1;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition-delay: 0s;
    .oxfl-resources-container {
      visibility:visible;
      opacity: 1;
      transition: visibility 0s linear 0.3s,opacity 0.3s linear;
      transition-delay: 0s;
    }
  }

}
