/*
html {
	position: relative;
	font-size: 62.5%
}*/

body.view-mode {
	//position: relative;
	//z-index: 100;
	//-webkit-overflow-scrolling: touch;
	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
	//text-rendering: optimizeLegibility;
	//font-variant-ligatures: common-ligatures;
  //font-family: $font_family_1;
  //margin: 0;
  //padding: 0;
  //@include font-size(2.8);
  //background: $background_color;
	//color: $primary_color;
	//.footer {
	//	display: none;
	//}
	&::before {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $background_color;
		z-index: 1002;
	}
	&.canvas_events_loaded::before,
	.htmlReady &::before {
		display: none;
	}
}

body.view-mode.body_clase,
body.view-mode.body_curso {
	.navbar.libro {
		background: $color_1!important;
		.libro-left,
		.libro-right {
			background: $color_1!important;
		}
		.libro-right ul li.close-back-wrapper,
		.navbar-divider {
			&::after {
				background-color: $color_1;
				left: 0;
			}
		}
	}
}


body.oxfl-body-home,
body.oxfl-body-episodes,
body.oxfl-body-chapters,
body.oxfl-body-marketplace,
body.oxfl-body-marketplace-summary,
body.oxfl-body-marketplace-game {
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}

// Blink Custom

.modo_revision {
    display: none;
}


// Boton Corregir
.view-mode {// Added .view-mode to avoid display style in Edit mode.
	.btn-danger {
		&,
		&[disabled],
		&:hover,
		&:focus,
		&:active,
		&.active,
		.open &.dropdown-toggle {
			color:$negative_color;
			background-color: $color_13;
			border-color: transparent;
			font-family: $font_family_2;
			font-weight: bold;
			font-size: 23px;
			padding: 9px 30px;
			text-transform: uppercase;
			border-radius: 30px;
			-webkit-box-shadow: 0px 4px 0px 0px $color_13_darker;
			-moz-box-shadow: 0px 4px 0px 0px $color_13_darker;
			box-shadow: 0px 4px 0px 0px $color_13_darker;
		}
	}
}


// Added by BlinkLearning

.revision-budget,
.attemps {
	visibility:hidden;
}

.mascara_portrait {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: #fff;
}

.mascara_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	height: 420px;
	box-shadow: 5px 5px 15px #aaa;
	border-radius: 5px;
	text-align: center;
}

.mascara_img {
	width: 100%;
	height: 100%;
	background: url(img/mascara-portrait.png) center center / 100% 100% no-repeat;
}

.mascara_button {
	position: absolute;
	bottom: 8%;
	left: 40%;
	border: none;
	padding: 10px 18px;
	background: transparent;
	color: transparent;
}

#ficha-alumno .title a:hover {
	cursor: default;
}

@media only screen and (max-width: 767px),
(orientation: portrait) {
	.mascara_portrait {
		display: block;
	}
}

@media only screen and (max-width: 390px) {
	.mascara_container {
		width: 252px;
	}
	.mascara_img {
		background-image: url(img/mascara_500x300.png);
	}
}
