// Config stylesheet

$background_color: #ffffff;

//$primary_color:;
$negative_color: #ffffff;

$color_1: #8BE23F;
$color_2: #F15A24;
$color_2_darken: #C1272D;

$home_menu_background_color: $background_color;
