// Config stylesheet

$layout_max: 980px;

$header_height: 44px;

$background_color: #ffffff;

$primary_color: #000000;
$negative_color: #ffffff;

$color_1: #8BE23F;//Green
$color_2: #F15A24;
$color_2_darken: #C1272D;
$color_3: #4D4D4D; // Dark grey
$color_4: #ED1E79; // Fucsia
$color_5: #F2F2F2; // Light grey
$color_5_lighter : #ffffff;
$color_6: #FBB03B; // Orange
$color_7: #39B54A; //Green 2
$color_8: #CCCCCC;
$color_9: #FCEE21; // Yellow
$color_10: #999999;


$home_menu_background_color: $background_color;

$episode_background_color: $background_color;
$episode_border_color: $color_6;

$chapter_background_color: $episode_background_color;
$chapter_border_color: $episode_border_color;

$label_color: #ffffff;

$dot_background_color: $color_10;
$dot_background_color_active: $color_4;


// Spaces

$padding_1: 30px;

$space_1: 90px;
$space_2: 110px;
