// Titles

.oxfl-title1 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(6.5);
  color: $color_1;
}

.oxfl-title2 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(2.9);
  color: $color_1;
}

.oxfl-title3 {
  font-family: $font_family_1;
  font-weight: bold;
  @include font-size(1.4);
  color: $primary_color;
}

// Coins

#oxfl-coins {
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 900;
}
#oxfl-coins-icon {
  @include icon-sprite();
  position: absolute;
  top: -5px;
  left: -15px;
}
#oxfl-coins-total {
  background: fade-out($color_3, .2);
  border-radius: 0 40px 40px 0;
  font-family: $font_family_1;
  @include font-size(1.4);
  font-weight: 500;
  color: $negative_color;
  text-align: right;
  width: 95px;
  height: 20px;
  padding: 0 10px;
}

// Buttons

.oxfl-button-icon {
  @include icon-sprite();
  &.oxfl-button-icon-goback {
    background-position: 0 60px;
  }
}
