// Titles

.oxfl-title1 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(6.5);
  color: $color_1;
  margin: 0;
}

.oxfl-title2 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(2.9);
  color: $color_1;
  margin: 0 0 5px 0;
}

.oxfl-title3 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(2.2);
  color: $color_4;
  margin: 0;
}

.oxfl-title4 {
  font-family: $font_family_1;
  font-weight: bold;
  @include font-size(1.4);
  color: $primary_color;
  margin: 0 0 20px 0;
}

// Coins

#oxfl-coins {
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 900;
}
#oxfl-coins-icon {
  @include icon-sprite();
  position: absolute;
  top: -5px;
  left: -15px;
}
#oxfl-coins-total {
  background: fade-out($color_3, .2);
  border-radius: 0 40px 40px 0;
  font-family: $font_family_1;
  @include font-size(1.4);
  font-weight: 500;
  color: $negative_color;
  text-align: right;
  width: 95px;
  height: 20px;
  padding: 0 10px;
}

// Buttons

.oxfl-button-icon {
  border: 0;
  overflow: visible;
  outline: 0;
  padding: 0;
  margin: 0;
  @include icon-sprite();
  &.oxfl-button-icon-goback {
    background-position: 0 -60px;
  }
}

.oxfl-button-lock {
  border: 0;
  overflow: visible;
  outline: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 20px;
  height: 18px;
  background: url(img/lock.png) 0 0 no-repeat;
  background-size: 40px 18px;
  &.oxfl-button-locked {
    background-position: -20px 0;
  }
}

// Labels

.oxfl-label {
  width: 60px;
  height: 33px;
  background: url(img/labels.png) 0 0 no-repeat;
  background-size: 60px 99px;
  font-family: $font_family_1;
  @include font-size(0.8);
  font-weight: 500;
  color: $label_color;
  text-align: center;
  padding-right: 5px;
  padding-top: 3px;
  &.oxfl-label-1 {
    background-position: 0 0;
  }
  &.oxfl-label-2 {
    background-position: 0 -33px;
  }
  &.oxfl-label-3 {
    background-position: 0 -66px;
  }
}

// Stars

.oxfl-stars {
  @include clearfix();
  .oxfl-star-item {
    display: block;
    margin: 0 0 0 5px;
    padding: 0;
    width: 18px;
    height: 17px;
    background: url(img/stars.png) 0 0 no-repeat;
    background-size: 37px 17px;
    float: left;
    &.oxfl-star-item-filled {
      background-position: -19px 0;
    }
  }

}
