// Titles

.oxfl-title1 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(6.5);
  line-height: 0.95em;
  color: $color_1;
  margin: 0;
  a {
    color: $color_1;
  }
}

.oxfl-title2 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(2.9);
  color: $color_1;
  margin: 0;
  a {
    color: $color_1;
  }
}

.oxfl-title3 {
  font-family: $font_family_2;
  font-weight: bold;
  font-style: italic;
  @include font-size(2.2);
  color: $color_4;
  margin: 0;
  a {
    color: $color_4;
  }
}

.oxfl-title4 {
  font-family: $font_family_1;
  font-weight: 500;
  @include font-size(1.4);
  color: $primary_color;
  margin: 0 0 5px 0;
  .oxfl-episode & {
    display: flex;
    height: 30px;
    width: 100%;
    min-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  a {
    color: $primary_color;
  }
}

.oxfl-title5 {
  font-family: $font_family_1;
  font-weight: 700;
  @include font-size(2.0);
  color: $primary_color;
  margin: 0 0 5px 0;
  a {
    color: $primary_color;
  }
}


// Coins

#oxfl-coins {
  position: fixed;
  top: 60px;
  right: 15px;
  z-index: 900;
}
#oxfl-coins-icon {
  @include icon-sprite();
  position: absolute;
  top: -5px;
  left: -15px;
}
#oxfl-coins-total {
  background: fade-out($color_3, .2);
  border-radius: 0 40px 40px 0;
  font-family: $font_family_1;
  @include font-size(1.4);
  font-weight: 500;
  color: $negative_color;
  text-align: right;
  width: 95px;
  height: 20px;
  padding: 0 10px;
}

// Buttons

.oxfl-button-icon {
  border: 0;
  overflow: visible;
  outline: 0;
  padding: 0;
  margin: 0;
  @include icon-sprite();
  &.disabled {
    display: none;
  }
  span {
    @include screen-reader-text();
  }
  &.oxfl-button-icon-home {
    background-position: -30px 0;
  }
  &.oxfl-button-icon-info {
    background-position: 0 -30px;
  }
  &.oxfl-button-icon-marketplace {
    background-position: -30px -30px;
  }
  &.oxfl-button-icon-goback {
    background-position: 0 -60px;
  }
}

#oxfl-general-buttons {
  position: fixed;
  top: 60px;
  left: 15px;
  z-index: 900;
  @include clearfix();
  .oxfl-button-icon {
    float: left;
    margin-right: 15px;
  }
}

.oxfl-button-lock {
  border: 0;
  overflow: visible;
  outline: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 20px;
  height: 18px;
  background: url(img/lock.png) 0 0 no-repeat;
  background-size: 40px 18px;
  &.oxfl-button-locked,
  &.locked,
  &.lock {
    background-position: -20px 0;
  }
}

.oxfl-button-bubble {
  @include font-size(1.9);
  font-family: $font_family_1;
  font-weight: 700;
  text-align: center;
  @include font-size(2.4);
  overflow: visible;
  outline: 0;
  margin: 0;
  padding: 4px;
  border: 0;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  color: $negative_color;
  &-1 {
    width: 186px;
    height: 74px;
    background-image: url(img/button-2.png);
    padding-top: 0;
  }
  &-2 {
    width: 180px;
    height: 64px;
    background-image: url(img/button-2-a.png);
    padding-top: 0;
    padding-bottom: 10px;
  }
  &-3 {
    width: 125px;
    height: 66px;
    background-image: url(img/button-2-b.png);
    padding-top: 0;
  }
  &-4 {
    width: 80px;
    height: 30px;
    background-image: url(img/button-2-a.png);
    padding-top: 0;
    @include font-size(1.4);
  }
}

.oxfl-button-large {
  overflow: visible;
  outline: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid $color_6;
  background: $button_large_background_color;
  border-radius: 100%;
  position: relative;
  span {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &.oxfl-button-large-next {
    span {
      background: url(img/arrows.png) 0 -41px no-repeat transparent;
      background-size: 58px 82px;
      width: 58px;
      height: 41px;
    }

  }
}


.btn-close-iframe {
  position: absolute;
  top: 18px;
  right: -18px;
  a {
    display: block;
    background: url(img/close-button-1.png) 0 0 no-repeat;
    background-size: contain;
    //border: 2px solid $color_9;
    width: 36px;
    height: 36px;
    //border-radius: 50%;
    //color: $negative_color;
    //background: $color_6;
    opacity: 1;
    padding: 0;
    margin: 0;
    outline: none;
    span {
      display: none;
    }
    .fa {
      display: none;
      //display: block;
      line-height: 21px;
      height: 26px;
      font-size: 40px;
      text-shadow: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      &::before {
        content: '\d7';
        color: $negative_color;
      }
    }
  }
}

// Separate text between Buttons

.oxfl-separate-text {
  color: $negative_color;
  font-family: $font_family_2;
  text-align: center;
  @include font-size(1.8);
  line-height: 1em;
  margin: 15px auto;
}

// Labels

.oxfl-label {
  width: 90px;
  height: 51px;
  background: url(img/labels.png) 0 0 no-repeat;
  background-size: 90px 149px;
  font-family: $font_family_1;
  @include font-size(1.1);
  font-weight: 500;
  color: $label_color;
  text-align: center;
  padding-right: 7px;
  padding-top: 7px;
  &.oxfl-label-2 {//New
    background-position: 0 0;
  }
  &.oxfl-label-0 {//Started
    background-position: 0 -51px;
  }
  &.oxfl-label-1 {//Completed
    background-position: 0 -102px;
  }
}

// Stars

.oxfl-stars {
  @include clearfix();
  .oxfl-star-item {
    display: block;
    margin: 0 0 0 5px;
    padding: 0;
    width: 18px;
    height: 17px;
    background: url(img/stars.png) 0 0 no-repeat;
    background-size: 37px 17px;
    float: left;
    &.oxfl-star-item-filled {
      background-position: -19px 0;
    }
  }
  &-filled-0 {}
  &-filled-1 {
    .oxfl-star-item:first-child {
      background-position: -19px 0;
    }
  }
  &-filled-2 {
    .oxfl-star-item:first-child,
    .oxfl-star-item:nth-child(2) {
      background-position: -19px 0;
    }
  }
  &-filled-3 {
    .oxfl-star-item {
      background-position: -19px 0;
    }
  }

}

// Modals
.view-mode {
  .modal-backdrop {
    background: $color_8;
    &.in {
      opacity: .74!important;
    }
  }
}

.oxfl-modal {
  .modal-dialog {
    width: 370px;
  }
  .modal-header {
    padding: 0;
    background: none;
    border-radius: 0;
    border: 0;
    min-height: 0;
    .close {
      position: absolute;
      top: -18px;
      right: -18px;
      //border: 2px solid $color_9;
      display: block;
      background: url(img/close-button-1.png) 0 0 no-repeat;
      background-size: contain;
      width: 36px;
      height: 36px;
      //border-radius: 50%;
      //color: $negative_color;
      //background: $color_6;
      opacity: 1;
      padding: 0;
      margin: 0;
      outline: none;
      span {
        display: none;
        //display: block;
        height: 36px;
        line-height: 30px;
        font-size: 50px;
        text-shadow: none;
      }
    }
  }
  .modal-body {
    @include font-size(1.9);
    font-family: $font_family_1;
    text-align: center;
  }
  .modal-content {
    border-radius: 0;
    border: 2px solid $color_9;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    &>p {
      max-width: 260px;
      margin: 0 auto;
    }
  }
  .modal-footer {
    border: 0;
    border-radius: 0;
    background: url(img/monster-7.svg) center bottom no-repeat transparent;
    padding-bottom: 100px;
    padding-top: 0;
    background-size: 240px 95px;
    .modal-footer-inner {
      display: flex;
      text-align: center;
      justify-content: space-between;
      max-width: 280px;
      margin: 0 auto;
    }
    .btn {
      background: url(img/buttons.png) 0 0 no-repeat transparent;
      background-size: 76px 83px;
      color: $negative_color;
      width: 76px;
      height: 42px;
      text-align: center;
      font-family: $font_family_1;
      padding: 2px;
      min-width: 0;
      @include font-size(2.5);
      font-weight: bold;
      &.btn-secondary {
        background-position: 0 -42px;
      }
    }
  }
  &-2 {
    .modal-dialog {
      width: 450px;
    }
    .modal-content {
      border-radius: 10px;
      .modal-header {
        text-align: center;
        padding: $padding_1 10px 20px;
      }
      .oxfl-title2,
      .oxfl-title3 {
        color: $color_3;
      }
      .oxfl-notification-item {
        .oxfl-title3 {
          color: $color_6;
        }
      }
    }
    .modal-body {
      text-align: left;
    }
  }
}

// Notifications list

.oxfl-notification-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .oxfl-title3 {
    @include font-size(1.8);
    color: $color_6;
    white-space: nowrap;
    &::after {
      content: ' -';
      display: inline-block;
      margin-left: 4px;
    }
  }
  &-chapter,
  &-chapter-description {
    @include font-size(1.4);
    padding-left: 8px;
    padding-right: 8px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &-chapter-description {
    flex-grow: 2;
  }
}

// Slider
.slick-track,
.slick-slide {
  outline: none;
}
.slick-arrow {
  background: url(img/arrows.png) 0 0 no-repeat transparent;
  background-size: 58px 82px;
  width: 58px;
  height: 41px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
  &.slick-prev {
    background-position: 0 0;
    left: -40px;
  }
  &.slick-next {
    background-position: 0 -41px;
    right: -40px;
  }
  &.slick-disabled {
    display: none!important;
  }
}

.slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  li {
    display: inline-block;
    margin: 0 2px;
    button {
      width: 14px;
      height: 14px;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      padding: 0;
      margin: 0;
      background: transparent;
      border: 0;
      outline: none;
      &::before {
        content: '';
        width: 9px;
        height: 9px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $dot_background_color;
        border-radius: 50%;
      }
    }
    &.slick-active {
      button {
        &::before {
          background-color: $dot_background_color_active;
        }
      }
      &:first-child:last-child {
        display: none;
      }
    }
  }

}

// Popovers

.oxfl-popover {
  @include font-size(1.4);
  color: $popover_color;
  box-shadow: none;
  background: transparent;
  border: 0;
  background: url(img/popover-bubble.png) 0 0 no-repeat;
  background-size: 160px 160px;
  width: 160px;
  height: 160px;
  .oxfl-popover-inner {
    display: flex;
    width: 150px;
    height: 120px;
    align-items: center;
    justify-content: center;
  }
  .popover-content {
    color: $popover_color;
    //background-color: $popover_background_color;
    text-align: center;
    max-width: 140px;
    padding: 6px;
  }
  .arrow {
    display: none!important;
  }
  .oxfl-close {
    position: absolute;
    top: -8px;
    right: -8px;
    border: 2px solid $color_9;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: $negative_color;
    background: $color_6;
    opacity: 1;
    padding: 0;
    margin: 0;
    outline: none;
    span {
      display: block;
      height: 36px;
      line-height: 30px;
      font-size: 50px;
      text-shadow: none;
    }
  }
}

.modal-open {
  #iframe_div {
    z-index: 1030;
  }
}
