@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face {
    font-family: 'Myfrida';
    src: url('fonts/myfrida_bold-italic-webfont.eot');
    src: url('fonts/myfrida_bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myfrida_bold-italic-webfont.woff2') format('woff2'),
         url('fonts/myfrida_bold-italic-webfont.woff') format('woff'),
         url('fonts/myfrida_bold-italic-webfont.ttf') format('truetype'),
         url('fonts/myfrida_bold-italic-webfont.svg#myfridabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

$font_family_1: 'Quicksand', sans-serif;
$font_family_2: 'Myfrida', sans-serif;
