
#oxfl-general {
  width: 100%;
  height: 100vh;
  //background: url(img/background_home.jpg) center center no-repeat $background_color;
  background: $color_5;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  min-height: 600px;
  min-width: 800px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  font-family: $font_family_1;
  
  .oxfl-body-resources &,
  .oxfl-body-chapters & {
    min-height: 760px;
  }

  .oxfl-body-marketplace-game &,
  .oxfl-body-marketplace-summary & {
    min-height: 860px;
  }
  .oxfl-body-gradebook & {
    min-height: 1880px; //TODO PROV
  }
}

#oxfl-custom-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
  &-inner-1,
  &-inner-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity .3s ease-out;
    &.active {
      opacity: 1;
    }
  }
}

.oxfl-container {
  max-width: 1000px;
  margin: 0 auto;
}


body {
  &.oxfl-iframe-visible {
    overflow: hidden;
  }
}
