
#oxfl-general {
  width: 100vw;
  height: 100vh;
  background: url(img/background_home.jpg) center center no-repeat $background_color;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  position: relative; // TODO REMOVE
  min-height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
